{% extends 'blog/master.html' %}

{% block content %}
    <h2>All User Comments</h2>
    <table>
        <thead>
            <tr>
                <th>Comment ID</th>
                <th>Author (User)</th>
                <th>Content</th>
                <th>Associated Blog (Post ID)</th>
                <th>Date Posted</th>
            </tr>
        </thead>
        <tbody>
            {% for comment in comments %}
            <tr>
                <td>{{ comment.id }}</td>
                <td>{{ comment.user.username }}</td>
                <td>{{ comment.content }}</td>
                <td>Post #{{ comment.post.id }} ({{ comment.post.title }})</td>
                <td>{{ comment.date_posted }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5">No comments available.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}