{% extends 'blog/master.html' %}

{% block content %}
    <h2>Registered Users List</h2>
    <table>
        <thead>
            <tr>
                <th>User ID</th>
                <th>Username</th>
                <th>Email Address</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="3">No users found in the system.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}